.advantage {
  text-align: center;
  max-width: 300px;
  margin-bottom: 15px;
}

.advantageImg {
  width: 150px;
  height: 150px;
  margin-bottom: 8px;
}

.advantageTitle {
  display: block;
  font-size: 24px;
  font-weight: bold;
}

.advantageDescription {
  display: block;
  font-size: 18px;
}
