.button {
  background-color: #fff343;
  border-radius: 3px;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding: 5px;
  color: #333;
  margin: 20px;
  padding: 20px;
  border: 0;
  outline: none;
  cursor: pointer;
  border: 3px solid #fff343;

  &:hover {
    background-color: #fff;
  }
}
